<h1>Swatter</h1>

<h2><a href="/addtweet/"><button>Share your Mind</button></a></h2>
<h2><a href="/notifications"><button>Notifications</button></a></h2>

<h2>Links
    <a href="/"><button>Home</button></a>
    <a href="/createuser/"><button>Make a User</button></a>
    <a href="/login/"><button>Login</button></a>
    <a href="/logout/"><button>logout</button></a>
</h2>

Hello <a href="/twitteruser/{{ user.twitteruser.id }}">{{user.username}}</a>

<ul>
    {% for tweet in tweets %}
        <li><a href="/twitteruser/{{tweet.author.id}}/">{{ tweet.author }}</a></li>
        <li>{{ tweet.tweet_content }} </li>
        <ul>
            <li><a href="/liketweet/{{ tweet.id}}/"><button>likes:</button></a>  {{tweet.like }}</li>
            <li>{{ tweet.datetime }}</li>
        </ul>
    {% endfor %}
</ul>
